.Deck {
  text-align: center;
}

.Deck-button {
  padding: 15px;
  background-color: lightgoldenrodyellow;
  color: black;
  font-size: 1em;
  border-radius: 8px;
  border: none;
  margin: 15px;
}
  
.Deck-button:hover {
  cursor: pointer;
  background-color: lightgray ;
} 
  
.Deck-button:active, .Deck-button:focus {
  outline: none;
}

.Deck-drawncards {
  margin-top: 90px;
}
